---
import { Hello } from '../components/Hello';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro + React</title>
</head>
<body>
    <Hello name="Astro" />
    <p>Welcome to your new Astro project with React!</p>
</body>
</html>
